*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INCREDIBLY USEFUL -- THIS ENSURES SVG AND PATH ELEMENTS DON'T GET CLICK EVENT THAT'S INTENDED FOR A BUTTON */
button > * {
    pointer-events: none;
  }

html {
    height: 100vh;
    width: 100vw;

    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: #87ceeb;
    color:lemonchiffon;
    /* overflow-x: hidden; hides horizontal scrollbar when items flow past viewport */
}

.hidden {
    display: none;
}

.modal {
    position:fixed; /* doesn't move when scrolling */
    top: 50%;       /* the following 3 properties center the modal div */
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* modal toggled off by default with scale(0) */
    transition: 200ms ease-in;
    z-index: 10;
    background-color:#87ceeb;
    width: 350px;
    max-width: 80vw;
    padding: 20px 10px;
    height: auto;
    text-align: center;
    border: 1px solid lemonchiffon;
    border-radius: 1rem;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1); /* to toggle on the modal via javascript */
}

.modal h1,
.modal input {
    margin-bottom: 1rem;
}

.modal label,
.modal input {
    text-align: left;
}

/* modal background properties */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: skyblue;
    transition: 200ms ease-in-out;
    pointer-events: none;
    opacity: 0;
}

 #overlay.active { /* not active by default */
    pointer-events: all;
    opacity: .8;
}




/* INPUTS */

input {
    background-color: lemonchiffon;
    color: rgb(132, 197, 223);
    padding: .5rem;
    border: none;
    border-radius: 1rem;
}

.text-input {
    font-size: inherit;
    font-family: inherit;
    width: 225px;
    cursor: text;
}

.container {
    display: flex;
    flex-direction: row;
}



/* BUTTONS */

button {
    font-family: inherit;
    font-size: inherit;
    padding: .5rem;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    border: 1px solid lemonchiffon;
    border-radius: .5rem;
}

button:hover {
    background-color: lemonchiffon;
    color: skyblue;
    border: 1px solid skyblue;
}

button:active {
    background-color: lemonchiffon;
    color: skyblue;
    border: 1px solid skyblue;
}



.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.close-button-modal {
    position: absolute; 
    left: 90%;
    border: none;
    outline: none;
    font-size: 1.5em;
    transition: transform .5s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
}

.close-button-modal:hover {
    background-color: transparent;
    color: inherit;
    border: none;
    outline: none;
}

.close-button-modal:active {
    background-color: transparent;
    color: inherit;
    border: none;
    outline: none;
}

.close-button-modal:hover {
    transform: scale(150%);
}

#prioritize {
    cursor: pointer;
}

.spinscale {
    transition: transform .5s ease-in-out;
}

.spinscale:hover {
    transform: rotate(90deg);
}

.material-icons-outlined {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    background-color: lemonchiffon;
    padding: .65rem;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    cursor: pointer;
}

.material-icons-outlined:hover {
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    transition: ease-in-out 250ms;
}

header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    place-items: center;
    font-size: 1.5rem;
    padding: 1rem;

    background-color: lemonchiffon;
    color: skyblue;
}

.menu,
.search {
    margin-left: auto;
}

#search {
    max-width: 5rem;
    outline:#87ceeb;
    border: 1px solid rgb(132, 197, 223);
    font-family: inherit;
}

#search:focus {
    max-width: 15rem;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    margin-top: 6rem;
}

.item {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    font-size: 1.1rem;
    min-height: 2rem;
    border: 1px solid lemonchiffon;
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 85vw;
    
}

.item button {
    background-color: skyblue;
    color: lemonchiffon;
    border: none;
    outline: none;
    padding: .3rem;
    align-self: center;
}

.item.expand {
    min-height: 8rem;

}

.title,
.details {
    padding-left: .75rem;
}

.title, 
.priority {
    align-self: center;
}

.details {
    font-size: .9rem;
}

/* TO BE APPLED TO TEXT WHEN CHECKBOX IS CHECKED */
.finished {
    text-decoration: line-through;
    color: rgba(255, 250, 205, 0.445);
}

/* CREATE NEW CHECKBOX */
#finished {
    height: 18px;
    width: 18px;
    align-self: center;
    cursor: pointer;
    /* -webkit-appearance: none; */
}

body {
    position: relative;
}

footer {
    position: fixed;
    color: inherit;
    font-size: 75%;
    left: 1rem;
    bottom: .65rem;
}

footer a,
footer a:active,
footer a:visited {
    color: inherit;
    text-decoration: underline;
}

/* MEDIA QUERIES */

/* @media (max-width: 575.98px) {

}

/* // Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {

} */

/* // Medium devices (tablets, less than 992px) */
/* @media (min-width: 991.98px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        width: 60vw;        
    }
    header {
        max-width: 60vw;        
    }
    .material-icons-outlined {
        right: 3rem;
        bottom: 3rem;
        width:4rem;
        height:4rem;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) {
    .material-icons-outlined {
        margin-right: 7rem;
    }
    .menu {
        margin-right: 7rem;
    }
}